.arrow {
    position: fixed;
    z-index: 10000;
}

.character h3 {
    padding-left: 20%;
    padding-right: 20%;
}

h3.red-text {
    margin-top: 2em;
}

h1 {
    color: #fff;
}

.container.center img {
    max-height: 600px;
    margin-bottom: 4em;
}
