<div class="contenedor">
    <layout-header></layout-header>
    <h4 class="red-text center white">About</h4>
    <div class="container">
        <div class="text center">
            <p class="flow-text white-text">This is a simple frontend application where you can see the characters provided by the <a class="red-text" target="_blank" href="https://developer.marvel.com/">Marvel API</a> and a comic book of them.</p>
        </div>
        <div class="center container">
            <img class="responsive-img" src="../../../assets/MarvelLogo.svg" alt="Marvel Logo">
        </div>
    </div>
    <layout-footer></layout-footer>
</div>